{% extends 'layout.html' %}
{% set title = 'Data Entry' %}

{% block content %}
  {% if column %}
      {% if column == 'Date' %}
        <h1>Show data entries by {{ column }}</h1>
        <form method="POST">
          <label for="start">Enter start date:</label>
          <input type="date" id="start" name="start">
          <label for="end">Enter end date:</label>
          <input type="date" id="end" name="end">
          <button type="submit">Filter</button>
        </form>
      {% else %}
        <h1>Show data entries by {{ column }}</h1>
        <form method="POST">
          <label for="start">Enter start value:</label>
          <input type="text" id="start" name="start">
          <label for="end">Enter end value:</label>
          <input type="text" id="end" name="end">
          <button type="submit">Filter</button>
        </form>
      {% endif %}
    {% if data_entries %}
    <table class="table table-striped table-hover">
      <thead>
          <tr>
              {% for column in columns %}
                  <th style="text-align:center">{{ column }}</th>
              {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for entry in data_entries %}
          <tr>
              {% for column in columns %}
                  {% if column == 'Date' %}
                      <td style="text-align:center">{{ date_to_str(entry[column]) }}</td>
                  {% else %}
                      <td style="text-align:center">{{ entry[column] }}</td>
                  {% endif %}
              {% endfor %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
    {% endif %}
  {% else %}
    {% if columns %}
      <p>Available columns:</p>
      <ul>
        {% for column in columns %}
          <li><a href="{{ url_for('data_entry', column=column) }}">{{ column }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No columns available</p>
    {% endif %}
  {% endif %}
{% endblock %}

