{% extends 'layout.html' %}
{% set title = 'Login' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Display Data Entry</title>
  </head>
  <body>
    <h1>Display Data Entry</h1>
    <form method="POST" action="{{ url_for('data_entry') }}">
      <label for="entry_id">Enter Data Entry ID:</label>
      <input type="text" id="entry_id" name="entry_id">
      <button type="submit">Display</button>
    </form>
    {% if data_entry %}
      <h2>Data id {{ data_entry.index }}</h2>
      <p>Temperature: {{ data_entry.Temperture }}</p>
      <p>Salinity: {{ data_entry.Salinity }}</p>
      <p>Density: {{ data_entry.Density }}</p>
      <p>Pressure: {{ data_entry.Pressure }}</p>
      <p>Date: {{ data_entry.Date }}</p>
      <p>Longitude: {{ data_entry.Longitude }}</p>
      <p>Latitude: {{ data_entry.Latitude }}</p>
      <p>Depth: {{ data_entry.Depth }}</p>
    {% endif %}
  </body>
</html>
{% endblock %}