{% extends 'layout.html' %}
{% set title = 'Predict' %}
{% block content %}
    <h1>Regression Model Prediction</h1>
    <form method="post" action="{{ url_for('predict') }}">
        <label for="date">Data:</label>
        <input type="date" name="date" required>
        <br>
        <label for="longitude">Longitude:</label>
        <input type="number" name="longitude" step="any" required>
        <br>
        <label for="latitude">Latitude:</label>
        <input type="number" name="latitude" step="any" required>
        <br>
        <button type="submit">Predict</button>
    </form>

{% if check %}
    <h2>The Values you entered were</h2>
    <h3>{{check}}</h3>
{% endif %}

{% if prediction %}
    {% if prediction is not none %}
        {% for key, value in prediction.items() %}
            <h2>Predicted {{ key }} is : {{ value }}</h2>
        {% endfor %}
    {% else %}
    <h2>Invalid Input, please try again</h2>
    {% endif %}
{% endif %}

{% endblock %}


